---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Nav from "../components/Nav.astro";
import fetchApi from "../lib/strapi";
import type Bio from "../interfaces/bio";

  const bio = await fetchApi<Bio[]>({
  endpoint: "bios",
  wrappedByKey: "data",
});
---

<Layout title="More About Me">
  <main
    transition:animate="slide"
    class="flex flex-col justify-center px-4 md:px-8 pt-8 pb-24 m-auto text-white"
  >
    <Nav />
    <div
      class="flex container bg-container/40 backdrop-filter backdrop-blur-sm shadow-primary rounded-lg mx-auto my-24 items-center justify-center"
    >
      <section
        class="text-white px-8 py-8 sm:pl-16 sm:pr-8 flex flex-col sm:flex-row justify-between"
      >
        <div class="flex flex-col items-center">
          <p class="leading-relaxed" set:html={bio[0].attributes.content} />
        </div>

        <!-- <img
          src="/assets/first-vid-img-no-bg.png"
          alt="Picture of face"
          class="m-auto h-1/2 w-1/2 lg:h-full sm:inline-block hidden"
        />
        <img
          src="/assets/funny-thumbnail-face-no-bg.png"
          alt="Picture of face"
          class="m-auto w-64 inline-block sm:hidden"
        /> -->
      </section>
    </div>
    <ul
      role="list"
      class="link-card-grid grid sm:grid-cols-2 md:grid-cols-3 w-full gap-8 container mx-auto"
    >
      <Card
        href="/blog"
        title="YouTube/Blog"
        titleClass="text-center"
        imgUrl="/assets/youtube-logo.png"
      />
      <Card
        href="/portfolio"
        title="Portfolio"
        titleClass="text-center"
        imgUrl="/assets/react-synth.png"
      />

      <Card
        href="/contact"
        title="Contact"
        body="👋"
        titleClass="text-center"
        bodyClass="text-icon-64 hidden sm:inline-block"
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    width: 992px;
    max-width: calc(100% - 2rem);
  }
</style>
