---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Nav from "../components/Nav.astro";
import fetchApi from "../lib/strapi";
import type Bio from "../interfaces/bio";

const bio = await fetchApi<Bio[]>({
  endpoint: "bios",
  wrappedByKey: "data",
});
---

<Layout title="More About Me">
  <main
    transition:animate="slide"
    class="flex flex-col justify-center px-4 lg:px-8 pt-8 pb-24 m-auto text-white"
  >
    <Nav />
    <div
      class="flex container bg-container/40 backdrop-filter backdrop-blur-sm shadow-primary rounded-lg mx-auto my-24 items-center justify-center"
    >
      <section
        class="text-white px-8 sm:px-12 py-8 flex flex-col lg:flex-row justify-between"
      >
        {
          !bio[0].attributes.content_blocks && (
            <div class="flex flex-col items-center">
              <p class="leading-relaxed" set:html={bio[0].attributes.content} />
            </div>
          )
        }
        {
          bio[0].attributes.content_blocks && (
            <div class="flex flex-col gap-8">
              {bio[0].attributes.content_blocks.map((block) => {
                if (block.image) {
                  return (
                    <img
                      class="mx-auto"
                      src={`${import.meta.env.STRAPI_URL}${
                        block.image.formats.small.url
                      }`}
                      alt={block.image.alternativeText}
                    />
                  );
                } else
                  return (
                    <p
                      class="leading-relaxed"
                      set:html={block.children[0].text}
                    />
                  );
              })}
            </div>
          )
        }
      </section>
    </div>
    <ul
      role="list"
      class="link-card-grid grid sm:grid-cols-2 md:grid-cols-3 w-full gap-8 container mx-auto"
    >
      <Card
        href="/blog"
        title="YouTube/Blog"
        titleClass="text-center"
        imgUrl="/assets/youtube-logo.png"
      />
      <Card
        href="/portfolio"
        title="Portfolio"
        titleClass="text-center"
        imgUrl="/assets/react-synth.png"
      />

      <Card
        href="/contact"
        title="Contact"
        body="👋"
        titleClass="text-center"
        bodyClass="text-icon-64 hidden sm:inline-block"
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    width: 1024px;
    max-width: calc(100% - 2rem);
  }
</style>
