---
import Layout from "../layouts/Layout.astro";
import ProjectSelector from "../components/ProjectSelector";
import Card from "../components/Card.astro";
import Nav from "../components/Nav.astro";

const projects = [
  {
    title: "React Synth",
    description: `This project was the result of my collaboration with <a
        class="text-blue-400"
        href="https://www.linkedin.com/in/james-clarkson97/"
        target="_blank"
        rel="noreferrer">James Clarkson</a
      > during my studies at CodeClan, Edinburgh. This is a synthesiser
      and sequencer web app which uses the React framework, coupled with
      the Tone.js library and Express/MongoDB backend. Given our 1 week
      deadline and being brand new to React, I think we did pretty well
      with this. It even supports MIDI!`,
    img: "/assets/react-synth.png",
    link: "https://github.com/stephenh369/React_Synthesiser_app",
  },
  {
    title: "Dobble",
    description: `This project was a result of the joint effort between myself, <a class="text-blue-400" href="https://www.linkedin.com/in/t-nawrocki/" target="_blank" rel="noreferrer">Tomek Nawrocki</a>, <a class="text-blue-400" href="https://www.linkedin.com/in/helena-kolberg/" target="_blank" rel="noreferrer">Helena Kolberg</a> and <a class="text-blue-400" href="https://www.linkedin.com/in/rudolf-zachar/" target="_blank" rel="noreferrer">Rudolf Zachar</a>. This is a browser game adaption of the popular family card game Dobble (Spot It! in the US). The player must match the symbols on both cards as quickly as possible before the time expires. It was built in a week during my studies at CodeClan, using a combination of Vue.js, Express and MongoDB.`,
    img: "/assets/dobble.png",
    link: "https://github.com/stephenh369/dobble",
  },
  {
    title: "The Engine Room",
    description: `This was my first personal project I created while I was studying at CodeClan. It is a simple CRUD app (Create, Read, Update, Delete) that models a interactive database for a car dealership. This web app was created using the Sinatra, the Ruby framework, coupled with a PostgresSQL database.`,
    img: "/assets/engine-room.png",
    link: "https://github.com/stephenh369/the_engine_room",
  },
];
---

<Layout title="Portfolio">
  <main
    transition:animate="slide"
    class="flex flex-col justify-center px-4 md:px-8 pt-8 pb-24 m-auto text-white"
  >
    <Nav />
    <ProjectSelector projects={projects} client:load />
    <ul
      role="list"
      class="link-card-grid grid sm:grid-cols-2 md:grid-cols-3 w-full gap-8 container mx-auto"
    >
      <Card
        href="/about"
        title="About"
        titleClass="text-center"
        imgUrl="/assets/first-vid-img-no-bg.png"
      />
      <Card
        href="/blog"
        title="YouTube/Blog"
        titleClass="text-center"
        imgUrl="/assets/youtube-logo.png"
      />
      <Card
        href="/contact"
        title="Contact"
        body="👋"
        titleClass="text-center"
        bodyClass="text-icon-64 hidden sm:inline-block"
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    width: 992px;
    max-width: calc(100% - 2rem);
    @media screen and (min-height: 1080px) {
      height: 90vh;
    }
  }
</style>
