---
import Layout from "../layouts/Layout.astro";
import croppedFirstVideoFace from "../../public/assets/first-vid-img-no-bg.png";
import croppedFunnyThumbnailFace from "../../public/assets/funny-thumbnail-face-no-bg.png";
import reactSynth from "../../public/assets/react-synth.png";
import Card from "../components/Card.astro";
---

<Layout title="About">
  <main
    transition:animate="slide"
    class="flex flex-col justify-center px-4 md:px-8 pt-8 pb-24 m-auto text-white"
  >
    <div>
      <a
        class="text-green-500 hover:text-white text-2xl inline"
        href="#"
        onclick="history.back()"><span class="pr-2">&larr;</span>Back</a
      >
    </div>

    <div
      class="flex container bg-container/40 backdrop-filter backdrop-blur-sm shadow-primary rounded-lg mx-auto my-24 items-center justify-center"
    >
      <section
        class="text-white px-8 sm:pl-16 sm:pr-8 flex flex-col sm:flex-row justify-between"
      >
        <div>
          <h1 class="lg:text-5xl text-4xl text-green-500 text-center pt-8 pb-4">
            About Me
          </h1>
          <p class="md:pl-8 pb-8 leading-relaxed">
            Hey! I'm Stephen. I'm a web-based software developer from Scotland,
            UK. Currently working as a full-stack software developer. I also
            have a YouTube channel, where I post videos from time to time about
            dev stuff.
          </p>
        </div>

        <img
          src={croppedFirstVideoFace.src}
          alt="Picture of face"
          class="m-auto h-1/2 w-1/2 lg:h-full sm:inline-block hidden"
        />
        <img
          src={croppedFunnyThumbnailFace.src}
          alt="Picture of face"
          class="m-auto w-64 inline-block sm:hidden"
        />
      </section>
    </div>
    <ul
      role="list"
      class="link-card-grid grid sm:grid-cols-2 md:grid-cols-3 w-full gap-8 container mx-auto"
    >
      <Card href="/portfolio" title="Portfolio" imgUrl={reactSynth.src} />
      <Card href="/blog" title="YouTube/Blog" />
      <Card href="/contact" title="Contact" />
    </ul>
  </main>
</Layout>

<style>
  main {
    width: 992px;
    max-width: calc(100% - 2rem);
    @media screen and (min-width: 1024px) {
      height: 90vh;
    }
    @media screen and (max-height: 768px) {
      height: 100%;
    }
    @media screen and (min-width: 768px) and (min-height: 768px) {
      height: 95vh;
    }
  }
</style>
