---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Contact">
  <main
    transition:animate="slide"
    class="flex flex-col justify-center px-4 md:px-8 pt-8 pb-24 m-auto text-white"
  >
    <div>
      <a
        class="text-green-500 hover:text-white text-2xl inline"
        href="#"
        onclick="history.back()"><span class="pr-2">&larr;</span>Back</a
      >
    </div>

    <div
      class="flex container bg-container/40 backdrop-filter backdrop-blur-sm shadow-primary rounded-lg mx-auto my-24 items-center justify-center"
    >
      <section
        class="text-white px-12 sm:px-24 lg:px-36 flex flex-col w-full"
      >
      <h1 class="lg:text-5xl text-4xl text-center font-semibold pt-8 pb-4">Contact Me</h1>
      <p class="text-center">Want to ask me something? Ask away.</p>
        <form class="grid grid-cols-1 gap-8 py-8 md:py-12" name="contact" method="POST" data-netlify="true">
            <p class="">
            <label class="flex flex-col sm:flex-row items-center">Name: <input class="bg-transparent border-b mt-4 sm:ml-8 sm:mt-0 w-full" type="text" name="name" /></label>   
            </p>
            <p class="">
            <label class="flex flex-col sm:flex-row items-center">Email: <input class="bg-transparent border-b mt-4 sm:ml-10 sm:mt-0 w-full" type="email" name="email" /></label>
            </p>
            <p class="">
            <label class="flex flex-col justify-center items-center">Message: <textarea class="bg-transparent border mt-4 w-full h-24" name="message"></textarea></label>
            </p>
            <p class="flex flex-col justify-center">
            <button class="bg-green-500 p-4 rounded-lg text-black font-semibold" type="submit">Send</button>
            </p>
        </form>
      </section>
    </div>
    <ul
      role="list"
      class="link-card-grid grid sm:grid-cols-2 md:grid-cols-3 w-full gap-8 container mx-auto"
    >
        <Card href="/about" title="About" />
        <Card href="/portfolio" title="Portfolio" imgUrl=/assets/react-synth.png />
        <Card href="/blog" title="YouTube/Blog" />
    </ul>
  </main>
</Layout>

<style>
  main {
    width: 992px;
    max-width: calc(100% - 2rem);
  }
</style>
